.searchPage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar{
 font-family: Bradley Hand, cursive;  height: 100%;
 margin-top: 2em;
 border: 2px solid black;
 border-radius: 0.8em;
 padding: 1.5em;
 width: 30vw;
 text-align: center;
 font-size: 2vmin;
 letter-spacing: 2px;
 text-transform: uppercase;
 box-shadow: 5px 21px 20px -11px darken(#f9b6b6fc, 10%);
}

.submitButton{
 padding: 1.5em;
 font-size: 2vmin;
 
}

.submitButton:disabled{
  cursor: not-allowed;
}
.choosePgrm{
  font-family: Bradley Hand, cursive;  height: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.title {
   
    font-size: 3em;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    $dark-pink: darken(#f9b6b6fc, 10%);
    $stripe-size: 3%;
    text-align: center;
    background:
    -webkit-linear-gradient(270deg, $dark-pink, $dark-pink 50%,      transparent 50%),
    -webkit-repeating-linear-gradient(
      90deg,
      transparent,
      transparent $stripe-size,
      white $stripe-size,
      white $stripe-size * 2,
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 6px 6px rgba(black, 0.4),

}

.choices{
  display: flex;
  padding-top: 3em
}

.cards{
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card{
  transition: transform .2s;
  width: 16%;
  border: 3px solid black;
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-align: center;
  padding: 0.7em;
  transform: skew(0deg, -13deg);
  box-shadow: 2px -1px 0px 0px rgb(245 135 135 / 99%), 0px 4px 0px 0px rgb(245 135 135 / 99%), 4px 0px 0px 0px rgb(245 135 135 / 99%);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.2);
  z-index: 1;
}

.cardTitle{
  
  font-family: Bradley Hand, cursive;
  letter-spacing: 1px;
  height: 100%;
  font-size: 2vmin;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImage{
 border-radius: 10px;
 box-shadow: 4px 10px 20px 1px rgba(0, 0, 0, 0.99);  cursor: pointer;

}

.imdNote{
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: 4px 10px 20px 1px rgba(0, 0, 0, 0.99);  cursor: pointer;

}

.choice{
  
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    font-size: large;
    font-weight:bold;
    display: block;
    position: relative;
    border: solid 3px #141414;
    background-color:#e1e1e1 ;
    padding: 1em;
    width: 70%;
    text-align: center;
    margin: 2em;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
    cursor: pointer;
  
}

.choice:hover{
 transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    background-color: darken(#f9b6b6fc, 10%);

}

.return{
  position: absolute;
  font-family: Bradley Hand, cursive;
  height: 100%;
  margin-top: 2em;
  border: 2px solid black;
  border-radius: 0.8em;
  cursor: pointer;
  right: 1%;
  top: -1%;
  background-color: white;
  height: 5em;
  width: 12em;
  white-space: normal;
  text-align: center;
  font-size: 2vmin;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 5px 21px 20px -11px rgb(245 135 135 / 99%);
}
.return:active {
  
  transform: translateY(4px);
}